salesforcesystem.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd  http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">
    <http:listener-config name="salesforceSystem-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8082" />
    </http:listener-config>
    <apikit:config name="salesforceSystem-config" api="resource::53b54f9c-48f3-42f6-9416-f0148329a14c:salesforcesystem:5.0.0:raml:zip:salesforceSystem.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <salesforce:sfdc-config name="Salesforce_Config" doc:name="Salesforce Config" doc:id="7fa913f4-2f70-4b8c-a65c-adb072fb3188">
        <salesforce:basic-connection username="sushmithavm2712@gmail.com" password="Sush@123" securityToken="KUrWZmso3gDqDTY1f8qRngJD" url="https://login.salesforce.com/services/Soap/u/61.0" />
    </salesforce:sfdc-config>
    <flow name="salesforceSystem-main">
        <http:listener config-ref="salesforceSystem-httpListenerConfig" path="/api/salesforce/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="salesforceSystem-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="salesforceSystem-console">
        <http:listener config-ref="salesforceSystem-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="salesforceSystem-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="post:\sf\employee:application\json:salesforceSystem-config">
		<salesforce:create doc:name="Create" doc:id="a42c1044-6593-4948-ba60-49199c9ddc19" config-ref="Salesforce_Config" type="Employee__c">
            <salesforce:records>#[[
        {
      FirstName__c             : payload.FirstName,
      LastName__c              : payload.LastName,
      Email__c                 : payload.Email,
      DateOfBirth__c           : payload.DateOfBirth,
      Gender__c                : payload.Gender,
      HomeAddress__c           : payload.HomeAddress,
      HomePhone__c             : payload.HomePhone,
      EmployeeNumber__c        : payload.EmployeeNumber,
      EmployeeType__c          : payload.EmployeeType,
      AboutMe__c               : payload.AboutMe,
      AvailabilityStartDate__c : payload.AvailabilityStartDate,
      AvailabilityEndDate__c   : payload.AvailabilityEndDate
          
        }
    ]]</salesforce:records>
        </salesforce:create>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	message: "Employee synced successfully",
  
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\sf\seller:application\json:salesforceSystem-config">
		<salesforce:create doc:name="Create" doc:id="4617282c-ddf1-4ac1-8ee2-1bfc9b54da25" config-ref="Salesforce_Config" type="Seller__c">
            <salesforce:records>#[[
        {
      Name__c: payload.Name,
      SellerType__c: payload.SellerType,
      ActiveFromDate__c: payload.ActiveFromDate,
      ActiveToDate__c: payload.ActiveToDate
        }
        ]]</salesforce:records>
        </salesforce:create>
        <ee:transform doc:name="Transform Response">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Seller synced successfully",
  
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\sf\user:application\json:salesforceSystem-config">
		<salesforce:create doc:name="Create" doc:id="43eb3de6-e70c-4979-8774-b810a2da9b32" config-ref="Salesforce_Config" type="User__c">
            <salesforce:records>#[[
			{
       FirstName__c   : payload.FirstName,
      LastName__c    : payload.LastName,
      Email__c       : payload.Email,
      ContactId__c   : payload.ContactId,
      Department__c  : payload.Department,
      MobilePhone__c : payload.MobilePhone
    }
    ]]</salesforce:records>
        </salesforce:create>
        <ee:transform doc:name="Transform Response">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "User synced successfully",
  recordId: payload[0].id
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>


#NOTE: this will create automatically when uh inport raml salesforcesystem code just add connectors like salesforce create and edit
